In [ ]:
# 1. Hello World
# Hello World!를 출력하시오.

In [1]:
print("Hello World!")

Hello World!

In [ ]:
# 2. We love kriii
# 두 줄에 걸쳐 "강한친구 대한육군"을 한 줄에 한 번씩 출력한다.

In [2]:
print("강한친구 대한육군")
print("강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

In [ ]:
# 3. 고양이
# \    /\
# )  ( ')
#(  /  )
# \(__)|   를 출력한다.

In [3]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [ ]:
# 4. 개
# |\_/|
# |q p|   /}
# ( 0 )"""\
# |"^"`    |
# ||_/=\\__| 를 출력한다.

In [6]:
a = '''|\_/|
|q p|   /}
( 0 )"""\\
|"^"`    |
||_/=\\\__|'''
print(a)

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [ ]:
# 5. A+B
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
# 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
# 첫째 줄에 A+B를 출력한다.

In [7]:
a, b = map(int, input().split())
print(a+b)

8

In [ ]:
# 6. A-B
# 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.
# 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
# 첫째 줄에 A-B를 출력한다.

In [8]:
a, b = map(int, input().split())
print(a-b)

2

In [ ]:
# 7. A×B
# 두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.
# 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
# 첫째 줄에 A×B를 출력한다.

In [9]:
a, b = map(int, input().split())
print(a*b)

12

In [ ]:
# 8. A/B
# 두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.
# 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
# 첫째 줄에 A/B를 출력한다. 실제 정답과 출력값의 절대오차 또는 상대오차가 10-9 이하이면 정답이다.

In [10]:
a, b = map(int, input().split())
print(a/b)

1.6666666666666667

In [ ]:
# 9. 사칙연산
# 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.
# 두 자연수 A와 B가 주어진다. (1 ≤ A, B ≤ 10,000)
# 첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.

In [12]:
a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

10
4
21
2
1

In [ ]:
# 10. ??!
# 준하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 준하는 놀람을 ??!로 표현한다.
# 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 놀람을 표현하는 프로그램을 작성하시오.
# 첫째 줄에 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어진다. 아이디는 알파벳 소문자로만 이루어져 있으며, 길이는 50자를 넘지 않는다.
# 첫째 줄에 준하의 놀람을 출력한다. 놀람은 아이디 뒤에 ??!를 붙여서 나타낸다.

In [15]:
a = input()
print(a+"??!")

joonas??!

In [ ]:
# 11. 1998년생인 내가 태국에서는 2541년생?!
# 서기 연도를 알아보고 싶은 불기 연도 y가 주어진다. (1000 ≤ y ≤ 3000)
# 불기 연도를 서기 연도로 변환한 결과를 출력한다.

In [17]:
a = int(input())
print(a-543)

1998

In [ ]:
# 12. 나머지
# (A+B)%C는 ((A%C) + (B%C))%C 와 같을까?
# (A×B)%C는 ((A%C) × (B%C))%C 와 같을까?
# 세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.
# 첫째 줄에 A, B, C가 순서대로 주어진다. (2 ≤ A, B, C ≤ 10000)
# 첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.

In [18]:
a,b,c = map(int, input().split())
print((a+b)%c)
print((((a%c) + (b%c))%c))
print((a*b)%c)
print((((a%c) * (b%c))%c))

1
1
0
0

In [ ]:
# 13. 곱셈
# (세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.
#       472  --- (1)
#      x385  --- (2)
#   --------
#      2360  --- (3)
#     3776   --- (4)
#    1416    --- (5)
#    181720  --- (6)
# (1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.
# 첫째 줄부터 넷째 줄까지 차례대로 (3), (4), (5), (6)에 들어갈 값을 출력한다.

In [27]:
a = list(map(int, input()))
a.reverse()
print(a)

[5, 4, 3]

In [33]:
a = int(input())
b = list(map(int, input()))
c = list(b)
b.reverse()
sum = 0
for i in range(len(b)):
    print(a*b[i])
    sum += a*b[i]*(10**i)
    
print(sum)

2360
3776
1416
181720